body {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.con {
  margin: 50px;
  width: 700px;
  background-color: beige;
  box-shadow: 1px 2px 3px black;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 20px;
}
form label {
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-style: italic;
  font-weight: bold;
}
form input {
  height: 20px;
  width: 90%;
  border: 1.5px solid blanchedalmond;
  border-radius: 20px;
  padding: 6px;
}
input::placeholder {
  font-style: italic;
  padding: 5px;
}

form button {
  margin-top: 15px;
  margin-right: 480px;
  margin-left: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
  .con {
    margin: 40px;
    width: 420px;
    background-color: beige;
    box-shadow: 1px 2px 3px black;
  }

  form button {
    margin-top: 15px;
    margin-right: 230px;
    margin-left: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px;
  }
}
